@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0%;
    background-color: #F8F4EA;
}

header iframe{
    width: 100%;
    height: 100%;
}
footer iframe{
    width: 100%;
    height: 40vh;
}
h1, h2, h3, h4, a, li{
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
main h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    
}
.cadastro{
    padding-top: 20px;
    text-align: center;
    background-color: transparent;

}

.internCard {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
}
.personal{
    background-color: #579BB1;
    border: 2px solid #579BB1;
    border-radius: 7px;
    margin: 20px;
    padding-bottom: 20px;
    width: 50%;
   margin-left: 25%;
   box-shadow:  11px 7px 21px 4px rgba(0,0,0,0.8);
   -moz-box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
   box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
}
.in{
    border: 0px;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    outline: none;
    background-color: #579BB1;
}
#hdr{
    margin:0
}

#result1{
    font-size: 30px;
    color: rgb(161, 14, 14);
}

.itemCard {
    background-color: #579BB1;
    border: 2px solid #579BB1;
    border-radius: 7px;
    margin: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
    -moz-box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
    box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
}

.button{
    text-decoration: none;
}

#imgg{
    background-color: #579BB1;
    width: 64px;
    height: 64px;
}
#bt1{
    font-size: 300%;
    display:block;
   margin-left: 35%;
   margin-top: 8%;
   background-color: #579BB1;
   border: none;
}
p{
    font-size: 20px;
}

@media screen and (max-device-width: 900px) and (min-device-height: 400px){
    .personal{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 15%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    main h1{
        font-size: 490%;
        margin-top: 10%;
    }
    .cadastro{
        height: 80%;
    }
    h3{
        font-size: 300%;
    }
    .in{
        font-size: 300%;
    }
    #bt1{
        font-size: 300%;
        display:block;
       margin-left: 35%;
       margin-top: 8%;
       background-color: #579BB1;
       border: none;
       
    }
    #hdr {
        height: 300px !important;
    }
    #result {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 5%;
    }
    .itemCard {
        background-color: #579BB1;
        border: 2px solid #579BB1;
        border-radius: 7px;
        margin: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin-left: 0;
        box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
        -moz-box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
        box-shadow: 11px 7px 21px 4px rgba(0,0,0,0.8);
    }
    p {
        font-size: 39px;
    }
    .internCard {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-around;
    }
    #bt{
        font-size: 250%;
        background-color: #F1DEC9;
        border-radius: 10%;
        width: 25%;
    }
    #result1{
        font-size: 350%;
    }
}
